<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReporteVentas.VISTA.Properties.Settings.REPORTE_DE_VENTASConnectionString"
            connectionString="Data Source=LAPTOP-UP1G8EN0\SQLEXPRESS;Initial Catalog=REPORTE_DE_VENTAS;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>